<div class="container">
  <form method="post" action="/addP">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">product name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">discription</label>
    <input type="text" name="dis" class="form-control" id="exampleInputPassword1">
  </div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">price</label>
    <input type="text" name="price" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Add</button>
</form>
</div>